<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<title>@ViewData["Title"] - Alpha on Web</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<meta name="description" content="Alpha Web Application">
<meta name="author" content="minhvu">
<meta name="robots" content="noindex, nofollow">

<!-- Open Graph Meta -->
<meta property="og:title" content="Alpha Web Application">
<meta property="og:site_name" content="Alpha on Web">
<meta property="og:description" content="Alpha ASP.NET Core Web Application">
<meta property="og:type" content="website">
<meta property="og:url" content="">
<meta property="og:image" content="">

<!-- Icons -->
<!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
<link rel="shortcut icon" href="/favicon.ico">
<link rel="icon" type="image/png" sizes="192x192" href="/favicon.ico">
<link rel="apple-touch-icon" sizes="512x512" href="icon-512.png" />
<link rel="apple-touch-icon" sizes="192x192" href="icon-192.png" />
<!-- END Icons -->