@{
    ViewData["Title"] = "Home Page";
    string token = ViewBag.Token;
    string rfToken = ViewBag.RefreshToken;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@token
<br />
<br />
<br />
@rfToken