<div id="spinner-container" class="spinner-container">
    
    <div class="sk-folding-cube">
        <div class="sk-cube1 sk-cube"></div>
        <div class="sk-cube2 sk-cube"></div>
        <div class="sk-cube4 sk-cube"></div>
        <div class="sk-cube3 sk-cube"></div>
    </div>
    @*
    <link rel="stylesheet" href="~/lib/loader/loader.css">
    <div class="loader">
        <img src="~/images/Watsons/logo-mini.png" class="rotate" style="width: 50px" />
    </div>
    <div class="lds-image"></div>
    <link rel="stylesheet" href="~/lib/loader/lds-image.css">
    *@
</div>
