@model LoginRequest

@{
    ViewData["Title"] = "Login";
    Layout = "_BlankLayout";

}

<div class="d-flex justify-content-center align-items-center" style="min-height: 80vh">
    <div class="card animated fadeInDown">
        <div class="card-body">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                <div class="form-floating mb-3">
                    <input asp-for="UserName" class="form-control" placeholder="Username">
                    <label asp-for="UserName"></label>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Password" class="form-control" placeholder="Password">
                    <label asp-for="Password"></label>
                </div>
                <div class="form-check mb-3">
                    <input asp-for="RememberMe" class="form-check-input" type="checkbox">
                    <label class="form-check-label">Remember</label>
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
